{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Criação de Vestibulares<h1>
</div>

<table class="table">
    <tr><th>Nome do curso</th><th>Período</th><th>Faculdade</th></tr>
        {% for curso in cursos %}
          <tr><td>Análise e Desenvolvimento de Sistemas</td><td>Noturno</td><td>Faculdade Impacta</td></tr>
          <tr><td>Sistema de Informação</td><td>Noturno</td><td>Faculdade Impacta</td></tr>
          <tr><td>Administração</td><td>Noturno</td><td>Faculdade Impacta</td></tr>
        {% endfor %}
</table>

{% endblock %}
